<div class="container mt-4 mb-4 pt-4" *ngIf="user == null">
  <div class="row justify-content-center pt-4">
    <div class="card" style="max-width: 600px;">
      <div class="row g-0">
        <div class="card-body">
          <h3 class="card-title text-center border-bottom  pb-4">Login</h3>
          <div id="errorMessage"></div>
          <p class="card-text pb-2">
            <form class="row g-3" id="loginForm">
              <div class="row">
                <div class="col-sm-12">
                  <label for="email" class="col-sm-4 col-form-label">Email</label>
                  <input type="text" class="form-control" name = 'email' id="email" placeholder="email@example.com" required>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label for="password" class="col-sm-4 col-form-label">Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                </div>
              </div>
              <div class="col-sm-12 pt-4 ">
                Do not have account? Please <a href="/signIn">sign In</a>
              </div>
          </form>
          <div class="col-auto border-top mt-4 pt-4 text-center">
            <button class="btn btn-primary mb-3 btn-lg py-1 ms-4" style="width: 150px" (click)="login()">login</button>
            <button class="btn btn-primary mb-3 btn-lg py-1 ms-4" style="width: 150px">reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
