<div class="container-fluid mt-4 pt-4" style="min-height: 700px;" *ngIf="user.type=='ADMIN'">
  <div class="card text-center">
    <div class="row justify-content-center border-bottom">
      <div class="col-sm-1">
        ID
      </div>
      <div class="col-sm-1">
        First Name
      </div>
      <div class="col-sm-1">
        Last Name
      </div>
      <div class="col-sm-2">
        Email
      </div>
      <div class="col-sm-2">
        Phone
      </div>
      <div class="col-sm-2">
        Birthday
      </div>
      <div class="col-sm-1">
        Gender
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row justify-content-center mt-1">
      <div class="col-sm-1 ps-4">
        <input class="form-control" type="number" name="id" id="id">
      </div>
      <div class="col-sm-1">
        <input class="form-control" type="text" name="firstName" id="firstName">
      </div>
      <div class="col-sm-1">
        <input class="form-control" type="text" name="lastName" id="lastName">
      </div>
      <div class="col-sm-2">
        <input class="form-control" type="email" name="emailId" id="emailId">
      </div>
      <div class="col-sm-2">
        <input class="form-control" type="number" name="phone" id="phone">
      </div>
      <div class="col-sm-2">
        <input class="form-control" type="date" name="birthday" id="birthday">
      </div>
      <div class="col-sm-1">
        <input class="form-control" type="text" name="gender" id="gender">
      </div>
      <div class="col-sm-1">
        <button class="btn btn-primary mb-3 btn-lg py-1 ms-4" (click)="search()">Search</button>
      </div>
    </div>
  </div>

  <div class="row mt-2" >
    <div class="col-sm-8">
      <div class="card text-center" style="height:500px;overflow: auto">
        <table class="table table-sm" >
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Birthday</th>
            <th scope="col">gender</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let account of currentAccountList">
            <td>
              {{account .id}}
            </td>
            <td>
              {{account.firstName + " " + account.lastName}}
            </td>
            <td>
              {{account.emailId}}
            </td>
            <td>
              {{account.phone}}
            </td>
            <td>
              {{account.birthday}}
            </td>
            <td>
              {{account.gender}}
            </td>
            <td>
              <button class="btn btn-primary" (click)="showAccountView(account)"> -> </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="H2 text-secondary" *ngIf="currentAccountList.length==0">No record</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center" style="height:500px" *ngIf="currentAccount.id < 0">
        <div class="h4 m-4 text-secondary">No Data</div>
      </div>
      <div class="card text-center" style="height:500px" *ngIf="currentAccount.id > 0">
        <h5 class="card-title text-center mt-2"> ID: {{currentAccount.id}}</h5>
        <div class="row mt-0">
          <div class="col-5">
            <img class="border" src="{{currentAccount.photo}}" style="width:150px; height:150px">
            <label class="col-form-label"><h6>{{currentAccount.firstName + ' ' + currentAccount.lastName}}</h6></label>
          </div>
          <div class="col-7">
            <div class="row pt-1 pb-1">
              <div class="row border-bottom">
                <div class="col-sm-3 text-end">
                  <label class="col-form-label">Birthday:</label>
                </div>
                <div class="col-sm-9">
                  <label class="col-form-label"><h6>{{currentAccount.birthday}}</h6></label>
                </div>
              </div>

              <div class="row border-bottom">
                <div class="col-sm-3 text-end">
                  <label class="col-form-label">Gender:</label>
                </div>
                <div class="col-sm-9">
                  <label class="col-form-label"><h6>{{currentAccount.gender}}</h6></label>
                </div>
              </div>
              <div class="row border-bottom">
                <div class="col-sm-3 text-end">
                  <label class="col-form-label">Phone:</label>
                </div>
                <div class="col-sm-9">
                  <label class="col-form-label"><h6>{{currentAccount.phone}}</h6></label>
                </div>
              </div>
              <div class="row border-bottom">
                <div class="col-sm-3 text-end">
                  <label class="col-form-label">Email:</label>
                </div>
                <div class="col-sm-8">
                  <label class="col-form-label"><h6>{{currentAccount.emailId}}</h6></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4" *ngIf="showDeleteView==false && showResetView==false">
          <div class="col-6 ps-4">
            <button class="btn btn-primary" (click)="resetView()">Reset Password</button>
          </div>
          <div class="col-6 pe-4">
            <button class="btn btn-danger" (click)="deleteView()">Delete Account</button>
          </div>
        </div>
        <div class="row mt-4 justify-content-center" *ngIf="showDeleteView==true">
          <div class="card m-4" style="width: 300px">
            <label class="mt-4">Do You Want To Delete This Account?</label>
            <div class="row mt-4 mb-4">
              <div class="col-6 text-center">
                <button class="btn btn-primary" (click)="closeDeleteView()">No</button>
              </div>
              <div class="col-6 text-center">
                <button class="btn btn-danger" (click)="deleteAccount(currentAccount.id)">Yes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2 justify-content-center" *ngIf="showResetView==true">
          <div class="card m-1" style="width: 300px">
            <label class="mt-2">New Password</label>
            <input class="form-control" type="password" id="password">
            <label class="mt-2">Confirm Password</label>
            <input class="form-control" type="password" id="confirm">
            <div class="row mt-4 mb-4">
              <div class="col-6 text-center">
                <button class="btn btn-primary px-3" (click)="closeResetView()">Abort</button>
              </div>
              <div class="col-6 text-center">
                <button class="btn btn-danger" (click)="resetPassword()">Update</button>
              </div>
            </div>
          </div>
          <div id="errorMessage"></div>
        </div>
      </div>
    </div>
  </div>
</div>
