/* You can add global styles to this file, and also import other style files */
body{
  background-color: #AbD4F4;
  background-image: url(/assets/images/bg.png);
  background-repeat: no-repeat;
  background-size:100%;
}
