<div class="container mt-5">
    <div class="row">
        <div class="card">
            <div class="row text-center">
                <div class="col-1">#ID</div>
                <div class="col-1">First Name</div>
                <div class="col-1">Last Name</div>
                <div class="col-1">Birthday</div>
                <div class="col-1">Gender</div>
                <div class="col-2">Email</div>
                <div class="col-2">Phone</div>
                <div class="col-2">department</div>
            </div>
            <div class="row pb-1">
                <div class="col-1"><input class="form-control" type="number" [(ngModel)]="filterAccount.id"        (change)="filter()"></div>
                <div class="col-1"><input class="form-control" type="text"   [(ngModel)]="filterAccount.firstName" (change)="filter()"></div>
                <div class="col-1"><input class="form-control" type="text"   [(ngModel)]="filterAccount.lastName"  (change)="filter()"></div>
                <div class="col-1"><input class="form-control" type="date"   [(ngModel)]="filterAccount.birthday"  (change)="filter()"></div>
                <div class="col-1">
                    <select class="form-control" [(ngModel)]="filterAccount.gender" (change)="filter()">
                        <option value=""></option>
                        <option value="male"  >Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="col-2"><input class="form-control" type="email"  [(ngModel)]="filterAccount.emailId"   (change)="filter()"></div>
                <div class="col-2"><input class="form-control" type="text"   [(ngModel)]="filterAccount.phone"     (change)="filter()"></div>
                <div class="col-2">
                    <select id="department" class="form-control" [(ngModel)]="filterAccount.subtype" (change)="filter()">
                        <option value=""></option>
                        <option *ngFor="let e of menus.DOCTOR_TYPE" value="{{e}}">{{e}}</option>
                    </select>
                </div>
                <div class="col-1"><button class="btn btn-outline-primary" (click)="adminCreateDoctor()">+</button></div>
            </div>
        </div>

    </div>
    <div class="row mt-4" style="width:100%; overflow:auto">
        <div class="d-flex" >
            <div class="col-3 justify-content-center" *ngFor="let doctor of currentDoctorList">
                <div class="doctor-card" *ngIf="currentDoctorId != doctor.id">
                    <div class="row justify-content-end">
                        <div class="col-1 mt-1 me-5">
                            <button class="btn btn-primary py-1" (click)="showSendMessageView(doctor.id)"><i class="bi bi-envelope"></i></button>
                        </div>
                    </div>
                    <img src="{{doctor.photo}}" style="width:210px; height:210px">
                    <h3>{{ doctor.firstName + ' ' + doctor.lastName}}</h3>
                    <p>Phone: {{ doctor.phone }}</p>
                    <p>E-mail: {{ doctor.emailId }}</p>
                    <div class="justify-content-center mt-3 mb-4" *ngIf="doctor.id != preDeleteId">
                        <button class="btn btn-primary me-2" (click)="seeDoctorProfile(doctor)" >Detail</button>
                        <button class="btn btn-success px-4 me-2" (click)="showEditDoctorView(doctor)" >Edit</button>
                        <button class="btn btn-danger" (click)="showDelete(doctor.id)" >Delete</button>
                    </div>
                    <div class="justify-content-center mt-1 mb-1" *ngIf="doctor.id == preDeleteId">
                        <label>Do You want to Delete This Doctor?</label>
                        <button class="btn btn-primary me-4" (click)="closeDelete()">No</button>
                        <button class="btn btn-danger ms-4" (click)="delete(doctor.id)">Yes</button>
                    </div>
                </div>
                <div class="doctor-card" *ngIf="currentDoctorId == doctor.id && showEditDoctor ==true">
                    <div class="row mt-1 justify-content-start" >
                        <div class="col-2 ms-1">
                            <button class="btn btn-primary py-1" (click)="closeEditDoctorView()"><-</button>
                        </div>
                        <div class="col-9 h3 mt-2">{{doctor.firstName+' '+doctor.lastName}}</div>
                    </div>
                    <div class="row mt-1 m-1 justify-content-start" >
                        <div class="row text-start">
                            <label>Appointment Fee:</label>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <input type="number" class="form-control" name="{{currentDoctorId + 'appointmentFee'}}" id="{{currentDoctorId + 'appointmentFee'}}" value="{{currentDoctorDetail.appointmentFee}}">
                            </div>
                            <div class="col-2">
                                <button class="form-control btn btn-primary" style="width:50px" (click)="updateAppointmentFee()">-></button>
                            </div>
                        </div>

                        <div class="row text-start">
                            <label class="col-form-label">Department:</label>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <select id="{{currentDoctorId + 'department'}}" class="form-control" [ngModel]="doctor.subtype">
                                    <option *ngFor="let e of menus.DOCTOR_TYPE" value="{{e}}">{{e}}</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <button class="form-control btn btn-primary" style="width:50px" (click)="updateDepartment()">-></button>
                            </div>
                        </div>
                        <div class="row text-start">
                            <label class="col-form-label">Reset Password:</label>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <input class="form-control" type="password" id="{{currentDoctorId + 'password'}}" placeholder="password">
                                <input class="form-control mt-1" type="password" id="{{currentDoctorId + 'confirm'}}" placeholder="confirm password">
                            </div>
                            <div class="col-2">
                                <button class="form-control btn btn-primary" style="width:50px" (click)="resetPassword()">-></button>
                            </div>
                        </div>
                        <div class="row">
                            <div id="{{doctor.id+'errorMessage'}}"></div>
                        </div>
                    </div>
                </div>
                <div class="doctor-card" *ngIf="currentDoctorId == doctor.id && showSendMessage==true">
                    <div class="row mt-1 justify-content-start" >
                        <div class="col-2 ms-1">
                            <button class="btn btn-primary py-1" (click)="closeSendMessageView()"><-</button>
                        </div>
                        <div class="col-9 h6 text-secondary mt-2">{{'To:' +doctor.firstName+' '+doctor.lastName}}</div>
                    </div>
                    <div class="row pb-1 pt-3">
                        <div class="col-sm-3 text-end ms-1">
                            <label class="col-form-label">Title:</label>
                        </div>
                        <div class="col-sm-8">
                            <input class="form-control" id="{{doctor.id+'title'}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-end ms-1">
                            <label class="col-form-label">Message:</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control" class="form-control" id="{{doctor.id+'message'}}" name="message" style="min-height:270px"></textarea>
                        </div>
                    </div>
                    <div class="row m-1 mt-3">
                        <div class="col-sm-12 text-end justify-content-end">
                            <button class="btn btn-primary me-3" (click)="sendMessage(doctor)">Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


